<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Bluetooth Permission -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- Bluetooth(Android 12+) Permission -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Location(Android 11-) Permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30" />

    <!-- Media(Android 13+) Permission -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- External Storage(Android 12-) Permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>

    <!-- Foreground Service Permission -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- notification(Android 13+) Permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".app.LightStickMusicApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LightStickMusic">

        <!-- SplashActivity -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LightStickMusic.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <!-- Media play Foreground Service -->
        <service
            android:name=".core.service.MusicEffectService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback|connectedDevice" />

        <!-- Music Control Receiver -->
        <receiver
            android:name=".core.receiver.MusicActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_PLAY_PAUSE" />
                <action android:name="ACTION_NEXT" />
                <action android:name="ACTION_PREV" />
            </intent-filter>
        </receiver>
    </application>

</manifest>